.footer {
  padding: 10px 0;
  background: #fff;
  border-top: 1px solid #eeee;
}

.our__categories {
  padding-left: 60px !important;
}

@media screen and (min-width: 770px) {
  .our__categories {
    margin-top: 10px;
    padding-left: 60px !important;
  }
}

@media screen and (max-width: 600px) {
  .our__categories {
    margin-top: 10px;
    padding-left: 30px !important;
  }
}

footer .footerMenu .menu-item {
  display: flex;
  padding: 10px 0 10px 5px;
  position: relative;
  margin-bottom: 8px;
  align-items: center;
  font-size: 18px;
}

footer .footerMenu .menu-item a {
  text-decoration: none;
  font-size: 15px;
  color: $color-dark-1;
  line-height: 1.4 !important;
  margin-top: -15px;
  padding-left: 15px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 400 !important;
}

.footerMenu .menu-item span {
  color: $color-dark-1 !important;
  font-weight: 400 !important;
}

footer .footerMenu .menu-item a::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-weight: 900;
  content: '\f111';
  font-size: 15px;
  color: $color-dark-1;
  line-height: 1.7;
  color: $color-dark-1;
  position: absolute;
  left: 0;
}

.widget-title {
  display: inline-block;
  text-transform: uppercase !important;
  color: $color-dark-1 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  margin-bottom: 20px !important;
  line-height: 30px !important;
  position: relative !important;
}

.widget-title::before {
  background: $color-dark-1 !important;
  content: '' !important;
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  bottom: -2px !important;
  height: 2px !important;
  width: 100% !important;
}

@media screen and (max-width: 600px) {
  .widget-title {
    font-size: 14px !important;
    margin-bottom: 15px !important;
    line-height: 25px !important;
  }

  footer .footerMenu .menu-item a {
    text-decoration: none;
    font-size: 14px;
    color: $color-dark-1;
    line-height: 1.3 !important;
    margin-top: -10px;
    padding-left: 15px;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 400 !important;
  }
}
