
// Top head start ///////////////////////////////////////////////////

.top-head-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  flex-wrap: wrap;
  padding-bottom: 0;
  background-color: $color-light-back-2 !important;
}

.top-head-1 .top-left-content,
.top-head-1 .trackorderandauthlinks {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  line-height: 1.6;
}

.top-head-1 .top-left-content p,
.top-head-1 .trackorderandauthlinks p {
  padding: 0 10px;
  font-size: 13px;
  font-weight: 500;
  color: $color-dark-1;
}




.top-left-content span {
  font-size: 14px;
  color: $color-dark-1;
}

.top-head-1 .trackorderandauthlinks p span:hover {
  color: $color-primary-1;
  cursor: pointer;
}

.top-head-1 .trackorderandauthlinks .trackorderbutton:hover {
  color: $color-primary-1;
  cursor: pointer;
}

.top-head-1 .trackorderandauthlinks .fa {
  margin: 0 5px;
  color: $color-dark-1;
}

@media screen and (max-width: 346px) {
  .top-head-1 {
    justify-content: center;
  }
}

// Top head end ///////////////////////////////////////////////////



// Top togs start ///////////////////////////////////////////////////

.top-tags-desc {
  color: $color-dark-1; 
  font-weight: 700;
  margin-left: 10px;
}

.tags {
  text-transform: capitalize;
}

@media screen and (max-width: 420px) {
  .top-tags-desc {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .top-head-1 {
    justify-content: center;
  }
}

.top-tags {
  background-color: #fff !important;
  display: flex;
  padding: 13px;
  align-items: center;
  flex-wrap: wrap;
  font-size: 13px;
}

.top-tags .tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.top-tags .tags h5 {
  padding: 0 15px;
  font-weight: 500;
  line-height: 1.3;
  color: $color-dark-1; 
  opacity: 1;
}

.top-tags .tags h5:hover {
  cursor: pointer;
  opacity: 0.8;
}



// Top togs end ///////////////////////////////////////////////////




/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: space-between;
  z-index: 50;
  background: #fff;
}

.navbar-center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  flex-wrap: wrap;
}

.nav-icon {
  font-size: 22px !important;
}

// cart icon  start /////////// 
.nav-icon .fa-cart {
  color: $color-dark-1;
}

.stickyCartButton {
  position: absolute;
  left: 100;
  top: 200;
  z-index: 42342342423;
  background-color: black;
}

.cartt-btn {
  position: relative;
  cursor: pointer;
}
.cartt-items {
  position: absolute;
  top: -9px;
  right: -9px;
  background: $color-primary-1;
  padding: 0 1vh;
  border-radius: 30%;
  color: #fff;
}

// cart icon  end /////////// 

/* --------------- End of Navbar ---------------- */


/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: $color-primary-overlay;
  z-index: 1001;
  // visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 10010;
  background: #fff;
  padding: 0.8rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}

.show-cart-bar {
  visibility: visible;
}

.showCart {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .cart {
    width: 25vw;
    min-width: 350px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  cursor: pointer;
}

.cart-item h4:hover {
  color: #333;
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: $color-primary-1;
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  // text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  // margin-bottom: 1rem;
}

.cart-total {
  padding: 15px 10px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.cart-total h3 {
  text-transform: uppercase;
  font-weight: 800;
  color: #333;
}

.cart-total span {
  text-transform: uppercase;
  font-weight: 800;
  color: $color-primary-1;
}
/* --------------- End of Cart ---------------- */

/* nav center */

.navbar-center-navItems {
  display: flex;
  flex-wrap: wrap;
  // background: ;
}

.navbar-center-navItems span {
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 15px;
  color: #333;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-center-navItems a {
  text-decoration: none;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 15px;
  color: #333;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 770px) {
  .navbar-center-navItems span {
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 15px;
    color: #333;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
  }
}

.navbar-center-navItems span:hover,
navbar-center-navItems a:hover {
  color: $color-primary-1;
}

.navbar-center-phoneNumberbox {
  .fa-phone {
    font-size: 13px;
    color: $color-dark-1;
    margin-right: 5px;
  }
  .text {
    font-size: 13px;
    margin-right: 5px;
    color: $color-dark-1;
  }

  .phone {
    color: $color-primary-1;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
  }
}


// logo box start ///////////////////////////////////////////

.navbar-center-logoBox {
  cursor: pointer;
  width: 250px;
  height: 100px;
  padding: 10px;
}

.navbar-center-logoBox img {
  cursor: pointer !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

// logo box end ///////////////////////////////////////////



/* All departments Sidemenu  //////////////////////////////////////////   */

.all-department {
  position: relative;
}

.all-department:hover .all-department-sideMenu {
  display: block;
}

.nav-menu {
  cursor: pointer;
  display: block;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: #fafafa;
}

.nav-menu-title {
  margin-left: 8px;
  font-size: 15px;
  text-transform: uppercase;
  color: $color-dark-1;
  font-weight: 500;
}

.nav-menu .fa-bars {
  font-size: 15px;
  color: $color-primary-1;
}

.all-department-sideMenu {
  position: absolute;
  height: 79%;
  width: 100%;
  font-size: 14px;
  float: left;
  z-index: 2;
  background-color: #fff;
  display: none;
}

.all-department-sideMenu ul {
  border: 1px solid $color-light-2;
  width: 100%;
  background-color: #fff;
  position: relative;
  min-height: 500px;
}

.all-department-sideMenu ul li {
  list-style: none;
  list-style-type: none;
  font-weight: bold;
  cursor: pointer;
  padding: 13px 12px;
  color: $color-primary-1;
  text-transform: capitalize;
}

.all-department-sideMenu ul li:hover {
  color: $color-primary-1;
}

.all-department-sideMenu ul li ul {
  display: none;
  z-index: 10;
  top: 50px;
  width: 300px;
  background-color: $color-primary-1;
  position: absolute;
  top: 0;
}

.all-department-sideMenu ul li:hover ul {
  display: block;
  margin-left: 98%;
  padding: 0 100px 10px 10px;
  position: fixed;
  background: #fff;
  border-left: 1px solid #eee;
  position: absolute;
  top: 0;
}

.fa.fa-angle-right {
  margin-top: 4px;
  margin-right: 8px;
  float: right;
  color: $color-dark-1;
}

@media screen and (max-width: 980px) {

  .all-department-sideMenu {
    margin-top: -20px;
  }

  .all-department-sideMenu ul {
    min-height: 300px;
  }
}

@media screen and (max-width: 970px) {
  .navbar-center-logoBox {
    margin-bottom: 15px;
    // width: 100%;
  }

 

  .navbar-center-categoryAndSearch {
    width: 100%;
    order: 5;
  }

  .s003 {
    width: 100%;
  }

  .navbar-center-navItems {
    order: 5;
    margin-left: -15px;
    padding-bottom: 10px;
    margin-top: 20px;
  }
  .nav-icon.nav-menu {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .navbar-center-logoBox {
    width: 170px;
    height: 100px;
  }
}



@media screen and (max-width: 705px) {
  .navbar-center-navItems span {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 450px) {
  .navbar-center-logoBox {
    width: 140px;
    height: 100px;
  }
}

@media screen and (max-width: 800px) {
  .nav-menu {
    margin-bottom: 15px;
    width: 100%;
  }

  .navbar {
    position: normal;
    top: 0;
    width: 100%;
    display: flex;
    align-items: space-between;
    background: #fff;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    position: static;
  }
}

//////// phone start /////////////////////////////////////


.phone .phoneText {
  color: $color-dark-1 !important;
  font-weight: 500;
  font-size: 14px;
  margin-right: 5px;
}

.phone i {
  color: #333 !important;
  font-weight: 500;
  font-size: 14px;
}

//////// phone end /////////////////////////////////////


.trackorderandauthlinks {
  p {
    .fa {
      color: $color-dark-1;
    }
    .fa:hover {
      color: $color-primary-1 !important;
    }

    span {
      color: $color-dark-1;
    }
    span:hover {
      color: $color-primary-1 !important;
    }
  }
}

.top-left-content {
  span {
    color: $color-dark-1;
  }
}

@media screen and (max-width: 600px) {
  .top-tags {
    justify-content: flex-start;
    margin-left: -7px;
  }
  .top-tags-desc {
    color: #222;
    margin-left: 0;
    margin-right: 15px;
    font-weight: 400;
  }

  .top-tags .tags h5 {
    padding: 0;
    margin-right: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #333333;
    opacity: 0.8;
    line-height: 1.6;
  }

  .navbar-center-logoBox {
    cursor: pointer;
    width: 230px;
    height: 100%;
  }

  .navbar-center-logoBox img {
    cursor: pointer !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
  }
  .navbar-center {
    padding: 0;
    margin: 0;
    justify-content: center;
  }
}

.header-menu-search-carticon-container {
  background-color: $color-primary-1;
  display: flex;
  padding: 5px 3px;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  z-index: 99;
}

.header-search-container {
  width: 100%;
}

.searchContainer {
  width: 100%;
  display: flex;
  position: relative;
}

.input-select select {
  background-color: #fff !important;
}

.searchContainer .searchIcon {
  position: absolute;
  right: 13px;
  top: 12px;
  cursor: pointer;
  color: $color-dark-1;
  font-size: 15px;
  transition: all 0.5s;
}

.searchContainer .searchIcon:hover {
  color: #222;
}

.input-searchbox {
  border: none;
  padding: 0 40px 0 15px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 40px;
  line-height: 1.66;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
}

.headermenu-btn {
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.headermenu-btn {
  font-size: 23px;
  color: #fff;
}

.header-search-carticon .nav-icon {
  color: #fff;
}

.header-menu-search-carticon-container .header-search-carticon {
  padding-left: 10px;
}

.header-menu-search-carticon-container .cartt-items {
  background-color: #04323e;
}

/* ---------------End of Products ---------------- */
/* --------------- NavMenu ---------------- */
.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: $color-primary-overlay;
  z-index: 100;
  // visibility: hidden;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 10010;
  background: #fff;
  padding: 0.8rem;
  transition: var(--mainTransition);
  transform: translateX(-100%);
}

.show-menu-bar {
  visibility: visible;
}

.showMenu {
  transform: translateX(0);
}

@media screen and (max-width: 768px) {
  .menu {
    width: 70%;

    // min-width: 450px;
  }
}

.close-menu {
  font-size: 1.7rem;
  cursor: pointer;
}
.menu h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

.menuItems {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff !important;
  width: 100%;
  margin-top: 10px;
}

.menuItems li a:hover {
  background-color: #eee;
  cursor: pointer;
}


.menuItems li {
  line-height: 50px;
  list-style: none;
  background-color: #fff;
}

.menuItems li a {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin: 3px 2px;

  line-height: 50px;
  text-decoration: none;
  text-transform: capitalize;
  color: $color-dark-1;
  font-weight: 500;
  font-size: 15px;
  padding-left: 5px;
  display: block !important;
  width: 100% !important;
}


.menuItems li a.subCaty {
  margin: 5px 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  text-decoration: none;
  text-transform: capitalize;
  color: $color-dark-1;
  font-weight: 500;
  font-size: 15px;
  padding-left: 5px;
  display: block !important;
  width: 100% !important;
  margin-left: 15px;
  line-height: 50px;
}


.menuItemHeader {
  text-decoration: none;
  text-transform: capitalize;
  color: $color-dark-1;
  font-weight: 600;
  font-size: 17px;
  padding-left: 5px;
  display: block !important;
  width: 100% !important;
  background-color: #fff;
  border-bottom: 2px solid $color-dark-1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 2px 2px;
  line-height: 50px;
}
/*---------- Cart Item -------------------- */

.remove-item .fa-trash {
  margin-right: 5px;
  color: $color-primary-1;
}
