.block-title {
  text-transform: uppercase;

  color: #222;

  font-size: 15px;

  font-weight: 600;
  line-height: 40px;

  margin-bottom: 0px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block-title span::before {
  background: $color-primary-1;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  width: 60px;
}

.block-title.authTitle.sm {
  text-transform: capitalize;
  font-size: 15px;
  color: $color-dark-1;
  font-weight: 500;
  color: #444;
  line-height: 30px;
}

.block-title.authTitle.sm span::before {
  background-color: #777;
  width: 30px;
}

.block-title.authTitle {
  text-transform: capitalize;
  font-size: 20px;
  color: $color-dark-1;
  font-weight: 600;
  color: #444;
}

.block-title.authTitle span::before {
  background-color: #666;
}

.block-title.ordertitle span::before {
  background-color: #ddd;
}

@media screen and (max-width: 600px) {
  .block-title {
    line-height: 40px;
  }
}
