.form #input-submit {
  color: rgb(235, 226, 226);
  background: $color-primary-1;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  word-spacing: 3px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

.fixedBoostrapButtonTobePrimaryColor {
  background: $color-primary-1;
  border-color: $color-primary-1;
  color: #fff;
  margin: 10px 10px;
}

.fixedBoostrapButtonTobePrimaryColor:hover {
  background: $color-primary-1;
  border-color: $color-primary-1;
  color: #fff;
  margin: 10px 10px;
}

.authButton {
  color: #fff;
  background: $color-primary-1;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
  padding: 0.9em;
  font-size: 15px;
}

.authButton:visited,
.authButton:link,
.authButton:focus,
.authButton:active {
  outline: none;
}

.authButton.disabled {
  background-color: $color-primary-overlay;
  cursor: not-allowed;
}
