.floatingCartIconContainer {
  background-color: $color-primary-1;
  top: 250px;
  right: 0;
  width: 85px;
  z-index: 19999999999999900;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.floatingCartIconContainer .floatingCartIconContainerInside {
  right: 0;
  width: 85px;
  cursor: pointer;
  display: flex;
  background: $color-primary-1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex-direction: column;
  color: #fff;
}


.floatingCartIcon {
  top: 13px;
  right: 35px;
  // position: absolute;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 7px;
  color: #fff;
}

.floatingCartText {
  font-size: 13px;
  margin-bottom: 12px;

}


.floatingCartIconContainer-priceContainer {
  background-color: #fff;
  padding: 6px 0;
  text-align: center;
}

.floatingCartIconContainer-price{
  color: $color-primary-1;
  font-weight: 700;
  font-size: 14px;
}