.form {
	margin: 25px 0;
	position: relative;
}

.form .password-eye {
	position: absolute;
	right: 12px;
	top: 44px;
	cursor: pointer;
	color: #444;
	font-size: 13px;
}
.form input {
	border: 0;
	outline: 0;
	padding: 0.6em;
	margin-top: 0.8em;
	border-radius: 6px;
	display: block;
	width: 100%;
	resize: none;
	font-size: 14px;
	color: $color-dark-1;
	background-color: rgb(247, 247, 247);
	border-color: rgb(241, 241, 241);
	outline: none !important;
	border-width: 1px;
	border-style: solid;
	border-image: initial;
	max-height: 45px;

	@media only screen and (max-width: 600px) {
		font-size: 14px;
	}
}

::-webkit-input-placeholder {
	/* Edge */
	font-size: 13px;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-size: 13px;
}

::placeholder {
	font-size: 13px;
}

.form .label {
	font-size: 15px;
	color: #555;
	text-align: left !important;
	width: 100%;
	font-weight: 500;

	@media only screen and (max-width: 600px) {
		font-size: 14px;
	}
}

.form input:focus {
	border: 1px solid $color-primary-1;
	box-shadow: none !important;
}

.form input:disabled {
	border-radius: 6px;
	background-color: #fff;
	outline: none !important;
	// border-width: 1px;
	// border-style: solid;
	// border-color: rgb(241, 241, 241);
	border-image: initial;
	cursor: not-allowed;
	color: #666;
	border: none;
	padding: 0.4em 0 0.4em 0;
	margin-top: 0.2em;
	font-size: 13px;
}

.form .invalid-feedback {
	text-align: left;
	line-height: 1.5;
}

@media (max-width: 480px) {
	.half {
		width: 100%;
		float: none;
		margin-bottom: 0;
	}
}
/* Clearfix */
.cf:before,
.cf:after {
	content: ' ';
	/* 1 */
	display: table;
	/* 2 */
}

.cf:after {
	clear: both;
}

.formContainerOfTwo {
	display: flex;
}

.formContainerOfTwo .formContainerOfTwoItem:first-child {
	width: 48% !important;
	margin-right: 2%;
}

.formContainerOfTwo .formContainerOfTwoItem:last-child {
	width: 48% !important;
	margin-left: 2%;
}

@media screen and (max-width: 380px) {
	.formContainerOfTwo {
		display: block;
	}

	.formContainerOfTwo .formContainerOfTwoItem:first-child {
		width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	.formContainerOfTwo .formContainerOfTwoItem:last-child {
		width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	.formContainerOfTwo .formContainerOfTwoItem.formContainterSelect {
		margin-top: 20px !important;
	}
}

.formLabel {
	width: 100%;
	font-size: 15px;
	color: #555;
	width: 100%;
	font-weight: 500;
	margin-bottom: 4px;

	@media only screen and (max-width: 600px) {
		font-size: 14px;
	}
}

.css-tlfecz-indicatorContainer {
	padding-right: 10px !important;
	padding-bottom: 15px !important;
}

.css-1okebmr-indicatorSeparator {
	width: 0 !important;
}
