.myAccount {
	margin: 0 25px;
	padding: 20px;

	// width: 100%;
	background-color: #fff;
	border-radius: 6px;
	// border-top: 1px solid $color-primary-1;

	@media only screen and (max-width: $bp-medium) {
		margin: 0;
	}
}

.myAccount .myAccountSectionHeader {
	font-size: 23px;
	font-weight: 800;
	line-height: 50px;
	display: flex;
	align-items: center;
	margin: -25px 0 -10px 0;

	&:first-child {
		margin-top: -5px;
	}
	@media only screen and (max-width: $bp-smallest) {
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&-main {
		color: $color-dark-1;

		@media only screen and (max-width: $bp-smallest) {
			font-size: 20px;
			font-weight: 700;
			line-height: 30px;
		}
	}

	&-button {
		color: $color-primary-1;
		margin-left: 20px;
		font-weight: 700;
		font-size: 13px;
		cursor: pointer;

		@media only screen and (max-width: $bp-smallest) {
			font-weight: 600;
			margin-left: 0;
		}
	}
}

.myAccount .myAccountSectionForm {
	padding: 0px 0 20px 0;
	// border-bottom: 1px solid #ced4da;
}
