.auth {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px 5px;
	background-color: #fff;

	@media screen and (max-width: 500px) {
		padding-top: 10;
	}
}

.authSubTitle {
	color: $color-dark-1 !important;
	font-size: 16px !important;
	margin-top: 10px !important;
	font-weight: 500 !important;
}
.formContainer {
	min-width: 400px;
	max-width: 400px;
	padding: 20px;
	border-radius: 10px;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(142, 142, 142, 0.14) 0px 2px 5px;
}

.formContainer.formContainer-signup {
	min-width: 470px;
	max-width: 470px;

	@media screen and (max-width: 500px) {
		min-width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.formContainer {
		min-width: 100%;
	}
}

.authtextInfo {
	margin-top: 10px !important;
	font-size: 15px !important;
	color: $color-dark-1 !important;
	font-weight: 600 !important;
}

.authLink {
	color: $color-primary-1;
	cursor: pointer;
	font-weight: 700 !important;
}

.auth_title {
	font-size: 25px !important;
	color: $color-dark-1 !important;
	font-weight: 800 !important;
	margin-bottom: 20px;
	line-height: 1.5;

	@media screen and (max-width: 500px) {
		font-size: 27px !important;
		margin-bottom: 20px;
		margin-top: 0px;
	}
}
