.checkout {
  padding-bottom: 20px;
}

.checkoutSection {
  margin-bottom: 40px;
}

.createOrderContainer {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
  margin: 0 200px;
}

@media screen and (max-width: 1200px) {
  .createOrderContainer {
    margin: 0 0;
  }
}

@media screen and (max-width: 985px) {
  .createOrderContainer {
    margin: 0 0;
  }
}

.checkout .shipping-heading {
  text-transform: capitalize;
  font-size: 20px;
  color: #333;
  border-bottom: 1px solid #eee;
  line-height: 50px;
  text-align: left;
}

.order-summary {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .order-summary {
    margin-top: 20px;
  }
}

.order-price {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.order-summary-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  // margin-top: 15px;
}

.order-summary h3 {
  text-transform: capitalize;
  font-size: 16px;
  color: #666;
  text-align: left;
}

.order-summary span {
  text-transform: capitalize;
  font-size: 16px;
  color: $color-primary-1;
  text-align: left;
}

// select container style
.css-yk16xz-control {
  min-height: 53px !important;
}

.css-g1d714-ValueContainer {
  min-height: 53px !important;
}

// select-invalid-feedback

.select-invalid-feedback {
  color: #dc3545;
  margin: 2px 0;
  font-size: 15px;
  font-weight: 500;
}

.alertText {
  font-size: 17px;
  color: $color-primary-1;
  font-weight: 600;
  line-height: 40px;
  display: flex;
  align-items: center;
  margin: 10px 0;

  .fa {
    margin-right: 15px;
    font-size: 20px;
  }
}

.paymentMethods div div {
  max-width: 150px !important;
}

.deliveryProps {
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  h3 {
    margin-right: 10px;
    color: #666;
  }
  span {
    font-weight: 700;
  }
}

.paymentMethodInstruction {
  margin-top: 15px;
  border-radius: 3px;
  border: 1px solid #eee;
  padding: 15px 2px;
}

.paymentMethodInstruction .paymentMethodInstruction-item {
  display: flex;
  padding: 5px 10px;
  h3 {
    font-size: 15px;
    color: #555;
    padding: 0 5px;
  }

  span {
    font-size: 15px;
    font-weight: 700;
    margin-left: 5px;
  }
}
