*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.singleProduct {
  padding: 10px 0;
  position: relative;
}

/* tag attributes start*/
.attibutes {
  margin-top: 15px;
  color: $color-dark-1;
  font-weight: 700;
  font-size: 16px;
}
.attibutes .attibute {
  font-size: 15px;
  color: #666;
  margin-left: 5px;
  transition: all 0.45ms;
  cursor: pointer;
  line-height: 1.6;
  font-weight: 600;
}

.attibutes .attibute:hover {
  color: $color-dark-1;
}

/* tag attributes end */

/* product detail info  start*/

.productDetailInfo {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 100px;
}

.productDetailInfo-carousel-column {
  padding: 20px 10px;
}

@media screen and (max-width: 1200px) {
  .productDetailInfo {
    margin: 0 70px;
  }
}

@media screen and (max-width: 985px) {
  .productDetailInfo {
    margin: 0 20px;
  }
}

@media screen and (max-width: 700px) {
  .productDetailInfo {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 5px;
    margin: 0 0;
    // margin-top: -55px;
  }
}

/* product detail info  end*/

/* Product Detail*/

.relatedProductsContainer {
  margin-top: 20px;
}

.productInfo__title {
  text-align: left;
  font-size: 22px;
  color: $color-dark-1;
  line-height: 1.6;
  font-weight: 700;
  margin-top: 20px;
}

.productInfo__price {
  margin-top: 15px;
}

.productInfo__price .product-price-box {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.productInfo__price .product-price-box .special-price {
  margin-right: 10px;
  color: $color-primary-1;
  font-weight: 700;
  font-size: 20px;
}

.productInfo__price .product-price-box .old-price {
  font-size: 20px;
  font-weight: 700;
  color: $color-dark-1;
  text-decoration: line-through;
}

.product-description {
  margin-top: 15px;
}
.product-description p {
  font-size: 15px;
  color: #666;
  line-height: 1.7;
  font-weight: 500;
}

.product-options-bottom {
  margin-top: 25px;
  padding-bottom: 20px;
  // background-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

/* buttons */

/* small filter products */

.relativeProductsContainer {
  background-color: #fff;
  padding: 5px 5px;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .relativeProductsContainer {
    margin-top: 20px;
  }
}

.small-product-item {
  display: flex;
  margin-bottom: 15px;
}

.small-product-item .small-product-info {
  margin-left: 10px;
}

.small-product-item .small-product-info .small-product-reviews-summary {
  margin-bottom: 0px;
  margin-top: 15px;
}

.small-product-item .small-product-info .small-product-title {
  font-weight: 700 !important;
  font-size: 15px !important;
  color: $color-dark-1 !important;
  line-height: 1.5 !important;
  text-align: left !important;
  text-transform: capitalize !important;
}

.small-product-item .small-product-info .small-product-price {
  font-weight: 700;
  font-size: 15px;
  text-align: left;
  margin-top: 5px;
  text-decoration: line-through;
}

.small-product-item .small-product-info .small-product-offerPrice {
  font-weight: 700 !important;
  color: $color-primary-1 !important;
  text-align: left;
  margin-top: 5px;

  font-size: 15px;
}

.small-product-item
  .small-product-info
  .small-product-offerPrice.small-product-offerPrice-dark {
  color: $color-dark-1 !important;
}

.small-product-item-box-img {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  height: 100px;
}

.small-product-item-box-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.small-products-items {
  padding-top: 20px;
}

// product detail carousel style

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  // border: 1px solid #eee;
  // padding: 5px !important;
  background-color: #fff !important;
}
.carousel .thumb.selected,
.carousel .thumb {
  border: 1px solid #eee;
  padding: 5px !important;
}

.carousel .thumb.selected,
.carousel .thumb:focus {
  border: 1px solid #aaa;
}

.action-button {
  color: #fff;
  background: $color-dark-1;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 17px 35px;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
}

.action-button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #272e30;
}

.action-button:last-child {
  // margin-left: 20px;
}

@media screen and (max-width: 1095px) {
  .action-button:last-child {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 775px) {
  .action-button:last-child {
    margin-left: 20px;
    margin-top: 0;
  }
}

@media screen and (max-width: 545px) {
  .action-button:last-child {
    margin-left: 0px;
    margin-top: 20px;
  }
}
