.filterbar {
  padding-top: 20px;
  padding: 0 !important;
  margin-bottom: 10px;
}

.filterBar-child {
  width: 95%;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 5px;
}

.Bcak-bg {
  padding: 10px;
}

/* category block start */

.category-block {
  padding: 30px 20px;
  border-bottom: 1px solid #eee;
}
.category-title {
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
}

.category-header-all {
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  font-weight: 500;
  color: #555;
}

.category-header-all.active {
  color: #222;
  font-size: 700;
}

.category-block ul li {
  // margin-bottom: 10px;
}

.category-text {
  font-size: 15px;
  color: #878787;
  margin-left: 10px;
  text-transform: capitalize;
  cursor: pointer;
}

.category-text.active {
  color: $color-dark-1;
  font-weight: 700;
  font-size: 16px;
}

/* category block end */

/* pagination */
.pagination {
  display: inline-block;
}

.pagination a {
  color: #999999;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.pagination a.active {
  color: white;
}

.container {
  margin-top: 20px;
}

/* 
  productListing SubCategoory Container
*/

.productListingSubCategooryContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 6px;
}

.subcat-card {
  min-width: 150px;
  max-width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.subcat-top {
  background: #fff;
  height: 150px;
  width: 150px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}

.subcat-top:hover .subcat-top-overlay {
  display: block;
}

.subcat-top-overlay {
  position: absolute; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  // border-radius: 5px;
}

.subcat-top img {
  width: 100%;
  height: 100%;
  object-fit: center;
  display: block;
}

/* Product bottom css */

.subcat-bottom {
  min-height: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.ratingsandtitle {
  // background-color: red;
  h3 {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #878787 !important;
  }
}

.ratingsandtitle.active h3 {
  color: $color-dark-1 !important;
  font-weight: 700 !important;
  font-size: 15px !important;
}

.subcat-top h3 {
  font-size: 20px;
  font-weight: bold;
}

.subcat-bottom .subcat-bottom-title {
  font-weight: bold;
  color: $color-dark-1;
  padding: 10px 10px !important;
  font-size: 16px;
  padding: 0 4px;
  width: 10;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subcat-bottom-price {
  font-weight: bold;
  color: $color-primary-1;
}

/* productListing ProductsContainer */

.productListingProductsContainer {
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Not found Product  */
.notFoundProduct {
  width: 100%;
  // height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.notFoundProductText {
  color: #333;
  font-size: 22px;
  text-transform: uppercase;
}

@media screen and (max-width: 450px) {
  .notFoundProduct {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
  }

  .notFoundProductText {
    color: #333;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 1.6;
    font-weight: 600;
    text-align: center;
  }
}

@media screen and (max-width: 355px) {
  .subcat-card {
    min-width: 120px;
    max-width: 120px;
  }

  .subcat-top {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 300px) {
  .subcat-card {
    min-width: 120px;
    max-width: 120px;
    margin: 5px;
  }

  .subcat-top {
    height: 100px;
    width: 100px;
  }
}

// sub menu

// sidebar functionality
/*Functionality of documentation side nav */

.documentation__sidenav-multi-level,
.documentation__sidenav-item ul,
.documentation__sidenav input {
  display: none;
}

.sub-item-arrow-checkbox {
  display: none;
}

.documentation__sidenav-item ul {
  display: block;
}

.documentation__sidenav-multi-level,
.documentation__sidenav-item ul {
  display: block;
}




.documentation__sidenav-item .sub-item-arrow-checkbox.active ~ ul {
  display: block !important;
}

.documentation__sidenav-item .sub-item-arrow-checkbox ~ ul {
  display: none !important;
}

.documentation__sidenav-item input:checked ~ ul {
  display: block !important;
}



.documentation__sidenav-item input ~ ul {
  display: none ;
}



.documentation__sidenav-label {
  width: 100%;
  display: block;
  z-index: 3;
  position: relative;
}

/* documentation side nav */

/* Documentation side nav multi level */

.documentation__sidenav-multi-level {
  transition: all 1s;
  font-size: 15px;
}

.documentation__sidenav ul,
.documentation__sidenav li,
.documentation__sidenav-label.active {
  line-height: 30px;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-weight: 700;
  color: $color-dark-1;
  cursor: pointer;
}

.documentation__sidenav ul,
.documentation__sidenav li,
.documentation__sidenav-label {
  line-height: 30px;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  color: #666;
  cursor: pointer;
}

.documentation__sidenav-item ul {
  padding: 0 0;
}

/*documentation__sidenav-item-arrow*/

.documentation__sidenav-item-arrow {
  width: 10px;
  height: 10px;
  vertical-align: middle;
  float: left;
  z-index: 0;
  cursor: pointer;
  margin: 10px 1em 0 2em;
}

.documentation__sidenav-item
  .sub-item-arrow-checkbox
  + .sub-item-arrow
  .documentation__sidenav-item-arrow {
  transform: rotate(-90deg);
  transition: 0.1s;
}

.documentation__sidenav-item
  .sub-item-arrow-checkbox.active
  + .sub-item-arrow
  .documentation__sidenav-item-arrow {
  transform: rotate(0deg);
  transition: 0.1s;
}



.documentation__sidenav-item input:checked+.sub-item-arrow
.documentation__sidenav-item-arrow {
  transform: rotate(0deg);
  transition: 0.1s;
}

.documentation__sidenav-item input+.sub-item-arrow
.documentation__sidenav-item-arrow {
  transform: rotate(-90deg);
  transition: 0.1s;
}




.documentation__sidenav-item.documentation__sidenav-item-block {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.documentation__sidenav input[type='checkbox'] {
  display: none;
}



.sub-item-arrow {
  display: flex;
}

.sub-item-list {
  margin: 2px 0px 2px 0;
  margin-left: 15px;

  li {
    cursor: pointer;
    .subCatLink {
      color: #666;
      text-decoration: none;
      line-height: 28px;
    }

    .subCatLink:hover {
      color: #333;
    }

    .subCatLink.active {
      color: $color-dark-1;
      font-weight: 600;
    }
  }
}


// by default 