$color-primary-1: #05A381;
$color-primary-overlay: rgba(5, 163, 129, 0.35);
$color-light-1: #EFF5F5;
$color-light-2: #def2f1;
$color-light-back-1: #EFF5F5;
$color-light-back-2: #f7f8fa;
$color-dark-1: #17252a;
