$color-primary-1: #05A381;
$color-primary-2: #24BC94;
$color-primary-overlay: rgba(5, 163, 129, 0.35);
$color-light-1: #EFF5F5;
$color-light-2: #def2f1;
$color-light-back-1: #EFF5F5;
$color-light-back-2: #f7f8fa;
$color-dark-1: #3b4347;



//  Light Sea Green ----- #24BC94
//  Light Steel Blue ----- #EFF5F5
//  Medium Aquamarine ----- #81CBBD
//  Medium Sea Green ----- #44AE97