$color-primary-1: #009e7f;
$color-primary-2: #24bc94;
$color-primary-overlay: rgba(5, 163, 129, 0.10);
$color-light-1: #eff5f5;
$color-light-2: #def2f1;
$color-light-back-1: #eff5f5;
$color-light-back-2: #f7f8fa;
$color-dark-1: #303a3f;

//  Light Sea Green ----- #24BC94
//  Light Steel Blue ----- #EFF5F5
//  Medium Aquamarine ----- #81CBBD
//  Medium Sea Green ----- #44AE97
